body {
    background-image: background.png
}
.grid {
    width: 400px;
    height: 600px;
    background-image: url(./background.png);
    position: relative;
}

.doodler {
    width: 85px;
    height: 80px;
    background-image: url(./doodler-guy.png);
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-image: url(./platform.png);
    position: absolute;
}

