:root{
  --h-font:'Lora', serif;
  --h-color: #e65e60;
  --p-font: 'Karla', sans-serif;
  --p-color: #2d2d2d;
  --body-color:#FAFAFA;
  --link-color:#e65e60;
  --secondary-color: whitesmoke;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{ /*hide scroll bar*/
  display:none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
}

body {
  background: #FFAFBD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0px;
  margin: 0px;
}
h1 {
  font-family: var(--h-font), sans-serif;
  color: var(--h-color);
  font-size: 60px;
}
h2 {
  font-family: var(--h-font), sans-serif;
  color: var(--h-color);
  font-size: 55px;
  font-weight:normal;
  padding: 0px;
  margin: 0px;
}
p {
  font-family: var(--p-font), sans-serif;
  color: var(--font-color);
  font-size: 17px;
}
a {
  font-family: var(--p-font);
  color: var(--font-color);
  text-decoration: none;
  border-bottom: var(--link-color) 0.125em solid;
}
a:hover {
  transition: 0.2s;
  color: var(--link-color);
}

/* preset */
.container {
  display: block;
  margin: 0 auto !important;
  /* makes it centered */
  max-width: 580px;
  padding: 10px;
  width: 580px;
}

/* navigation bar */
#navbar {
  background-color: var(--secondary-color);
  position:fixed;
  top:0;
  right: 0;
  width:100%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.15);
  z-index: 1;
}
.nav-items {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding:19px;
  margin-right:20px;
}
.nav-items a {
  border-bottom: none;
}
.nav-items a:hover {
  border-bottom: var(--link-color) 0.125em solid;
  color:var(--p-color);
  transition: 0.05s;
}
.nav-link {
  font-size: 20px;
  margin-left:40px;

}

/* landing */
.home {
  height:100%;
}
.home-container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin: 200px 0px 200px 0px;
  flex-wrap: wrap;
}
.home-text{
  display: flex;
  flex-direction: column;margin-left: 50px;
  line-height: 1.5em;
}

.me-pic {
  height:300px;
  width:300px;
  border: 3px solid #e65e60;
  border-radius: 50%;
}

/* about */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.about-heading{
  padding-bottom:30px;
  text-align: center;
}

.about-container {
  background-color: var(--secondary-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  border-radius: 33px;
  padding: 50px 125px;
  width:60%;
  line-height: 45px;
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-item {
  display: flex;
  align-items: center; 
  flex-direction: row;
  text-align: left;
}

.about-img-link {
  display: inline-block; 
  margin: 25px; 
  border-bottom: 0;
}

.about-logo {
  display: flex;
  flex-direction: column;
  float: left;
  width:  120px;
  height: 120px;
  text-decoration: none;
  margin-right: 50px;
}

.about-logo:hover {
  transition: transform .3s;
  transform: scale(1.1);
}

.about a {
font-weight: bold;
}

/* projects */
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.projects-heading {
  padding-bottom:30px;
  text-align: center;
}

.projects-container {
  background-color: var(--secondary-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  border-radius: 33px;
  padding: 50px 125px;
  width:60%;
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-tile {
  border-radius: 5px;
}

.project-img {
  object-fit: cover;
  width:300px;
  height:250px;
  border-radius: 5px 5px 0px 0px;
  display: block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

figcaption {
  font-family: var(--font), sans-serif;
  background-color: var(--h-color);
  color: var(--body-color);
  font-size: 16px;
  text-align: center;
  padding: 15px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.project-tile:hover {
  transition: transform .3s;
  transform: scale(1.05);
}


/* transition effect */
.come-in {
	transform: translateY(1000px);
	animation: come-in 1.2s ease forwards;
}
.come-in:nth-child(odd) {
	animation-duration: 1.5s;
}
.already-visible {
	transform: translateY(0);
	animation: none;
}

@keyframes come-in {
	to { transform: translateY(0); }
}


/* footer */
.footer {
  background-color: var(--secondary-color);
  opacity:.75;
  padding:1px 30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.footer p{
  font-size: 16px;
}
.footer-right {
  display:flex;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-end; */
  gap:30px;
}
.icon {
  width: auto;
  height: 33px;
  opacity: 0.9;
}
.icon a{
  border:none;
}
.icon:hover {
  transition: transform .3s;
  transform: scale(1.05);
}

/********* media queries **********/
/* desktop */
@media only screen and (max-width: 720px){
  #navbar {
    display: flex;
    justify-content: center;
  }
  .nav-items {
    vertical-align: top;
    align-self: center;
  }
  .home {
    padding:0;
  }
  .about-container{
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    width:auto;
  }
  .about-item {justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  p {
    font-size: 16px; 
    line-height: 36px;
  }
  .project-img {
    width: 360px;
  }
  figcaption {
    font-size: 16px;
  }
  .contact-header {
    text-align: center; 
    padding:0px 10px;
  }
  .contact {
    min-width: 90%;
    margin-left: 0;
  }
  
}

/********* media queries **********/



