:root{
  --h-font:'Lora', serif;
  --h-color: #e65e60;
  --p-font: 'Karla', sans-serif;
  --p-color: #2d2d2d;
  --navbar-color: ; /*nav bar #9D9CFB*/
  --body-color:#b4bcfb;
  --link-color:#e65e60;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{ /*hide scroll bar*/
  display:none;
}
header {

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
}

body {
  background-color: var(--body-color);
  padding: 0px;
  margin: 0px;
}
h1 {
  font-family: var(--h-font), sans-serif;
  font-weight:normal;
  padding: 0px;
  margin: 0px;
}
h2 {
  font-family: var(--h-font), sans-serif;
  color: var(--h-color);
  font-size: 90px;
  font-weight:normal;
  padding: 0px;
  margin: 0px;
}
h3 {
  font-family: var(--h-font), sans-serif;
  color: var(--h-color);
  font-size: 70px;
  font-weight:normal;
  padding: 0px;
  margin: 0px;
}
p {
  font-family: var(--p-font), sans-serif;
  color: var(--font-color);
  font-size: 24px;
}
a {
  font-family: var(--p-font);
  color: var(--font-color);
  text-decoration: none;
  border-bottom: var(--link-color) 0.125em solid;
}
a:hover {
  transition: 0.2s;
  color: var(--link-color);
}

#navbar {
  background-color: var(--color-navbar);
  position:fixed;
  top:0;
  right: 0;
  width:100%;
  /*box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);*/
}
.nav-items {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding:19px;
  margin-right:20px;
}
.nav-items a {
  border-bottom: none;
}
.nav-items a:hover {
  border-bottom: var(--link-color) 0.125em solid;
  color:var(--p-color);
  transition: 0.05s;
}
.nav-link {
  font-size: 20px;
  margin-left:40px;

}

/* home / landing page */
#home {
  display: flex;
  flex-direction: column;
  padding: 100px 80px 150px;
}
#home-header {
  color: var(--h-color);
  font-size: 100px;
  padding:0px 60px 0px;
}
#home-content{ 
  color: var(--font-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  padding:0px 30px;
}
#home-paragraph{
  font-size: 87px;
  max-width:67%;
  line-height: 90px;
}
#me-pic {
  height:300px;
  width:300px;
  border: 3px solid #e65e60;
  border-radius: 50%;
  margin-right:30px;
}

/* about / whydev */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}
#about-header{
padding:40px;
text-align: center;
}
#about-content {
  background-color: whitesmoke;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  border-radius: 5px;
  padding: 50px 120px;
  width:48%;
  line-height: 35px;
}

/* projects */
#projects {
  margin:50px 0px;
}
#projects-header {
  font-size: 100px;
  text-align: center;
}
#projects-subtitle {
  font-size: 16px;
}
#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-tile {
  border-radius: 5px;
}
.project-img {
  width: 270px;
  border-radius: 5px 5px 0px 0px;
  display: block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
figcaption {
  font-family: var(--font), sans-serif;
  background-color: var(--h-color);
  color: ghostwhite;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

/* contact */
#contact {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
#contact-header {
  text-decoration: none;
  font-family: var(--h-font);
  color: var(--h-color);
  font-size: 100px;
  padding:0px;
  margin:0px;
}
#social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  padding:10px;
  padding-right:30px;
  width: 45px;
  height: 45px;
}
.icon a{
  border:none;
}
#icon-email {
  width: 50px;
  height: 40px;
}
/* footer */
#footer {
  background-color: whitesmoke;
  text-align:left;
  padding:1px;
  padding-left:30px;
}
#footer p{
  font-size: 17px;
}
#footer-sub {

}

/********* media queries **********/
/* desktop */
@media only screen and (max-width: 720px){
  #navbar {
    display: flex;
    justify-content: center;
  }
  .nav-items {
    vertical-align: top;
    align-self:center;
  }
  #home {
    padding:0;
  }
  #home-header{
    text-align: center; 
    padding:0px;
  }
  #home-paragraph{
    width:100%;
    line-height: 60px;
    padding:0px;
    font-size:60px;
  }
  #about-content {
    width:80%;
  }
  .main-content{ 
    overflow-y: auto;
    display: inline-block;
    padding: 50px 90px;
  }
  p {
    font-size: 19px; 
    line-height: 36px;
  }
  .project-img {
    width: 360px;
  }
  figcaption {
    font-size: 18px;
  }
  #contact-header {
    text-align: center; 
    padding:0px 10px;
  }
  #contact {
    min-width: 90%;
    margin-left: 0;
  }
  #closing-title{
    font-size: 35px; 
  }
}
/********* media queries **********/



