:root{
--main-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;  --font-color: #222222;
  --color-background: #deddfa;
  --color-body: white;
}
html {
  scroll-behavior: smooth;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
}

body {
  /*linear-gradient(90deg, hsl(10, 100%, 70%), rgb(204,204,255));*/
  background-color: var(--color-body);
  padding: 0px;
  margin: 0px;
}
h1 {
  font-family: var(--main-font), sans-serif;
  color: var(--font-color);
  font-weight: normal;
  font-size: 64px;
}
h2 {
  font-family: var(--main-font), sans-serif;
  color: var(--font-color);
  font-size: 36px;
}
h3 {
  color: var(--font-color);
  font-family: var(--main-font), sans-serif;
  font-size: 22px;
}
span {
  font-family: var(--main-font), sans-serif;
  color: var(--font-color);
}
p {
  font-family: var(--main-font), sans-serif;
  color: var(--font-color);
  font-size: 20px;
}
a {
  font-family: var(--main-font), sans-serif;
  text-decoration: none;
  color: #423C80;
  transition: 0.3s;
}
a:hover {
  color: slategrey;
}

#navbar {
  background-color: var(--color-background);
  position:fixed;
  top:0;
  right: 0;
  width:100%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
.nav-items {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding:19px;
  margin-right:20px;
}
.nav-link {
  font-size: 20px;
  margin-left:40px;
}

/* introduction */
#about {
  background-color: #F4F6F4;
  font-size: 18px;
  padding: 120px 140px 0px 120px;
  width: 82%;
  height: 100vh;
}
#about-header {
  color: var(--font-color);
  font-size: 68px;
  letter-spacing: 1px;
}
#about-content{ 
  color: var(--font-color);
  font-size: 20px;
  width: 83%;
  line-height: 33px;
}

/* main content */
#main-section {
  background-color: white;
  margin-bottom:170px;
  margin-top:80px;
}
.main-header {
  color: var(--font-color);
  font-size: 47px;
  padding-left: 120px;
  padding-top: 60px;
}
.main-content {
  background-color: #E8E8E8;
  padding: 50px 120px;
  margin-bottom: 120px;
  max-width: 900px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
.main-content p {
  line-height: 33px;
}


/* projects */
#projects {
}

/* contact */
#contact {
  width:600px;
  margin-left:auto; margin-right:0;
  
}
#contact-header {
  color: var(--font-color);
  font-size: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-content {
  display:flex;
  justify-content: flex-end;
  justify-content: space-around;
  background-color: #E8E8E8;
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
.social-media-label {
  letter-spacing: .3px;
  font-size:20px;
}
.social-media-section {
  display: flex;
  flex: row;
  align-items: center;
}
.icon {
  padding:10px;
  padding-right:12px;
  width: 38px;
  height: 38px;
}
.icon:hover {
  transform: scale(1.03);
}

/* CLOSING */
#closing {
  margin: 200px 0 200px 0;
}
#closing-title {
  font-size: 50px;
  text-align:center;
}

/* footer */
#footer {
  background-color: #dcdbe1;
  padding: 1px;
  padding-left: 30px;
  text-align:left;
}
#footer p{
  font-size: 17px;
}

@media only screen and (max-width: 720px){
  #navbar {
    display: flex;
    justify-content: center;
  }
  .nav-items {
    vertical-align: top;
    align-self:center;
  }
  .main-header{
    padding:0px 10px;
    text-align: center; 
    font-size: 40px;  
  }
  .main-content{ 
    overflow-y: scroll;
    display: inline-block;
    padding: 50px 90px;

  }

  p {
    text-align: center;
   font-size: 17px; 
  }
  #contact-header {
    text-align: center; 
    padding:0px 10px;
  }
  #contact {
    min-width: 90%;
    margin-left: 0;
  }
  #closing-title{
    font-size: 35px; 
  }


  /** ETC **/
  .main-about {
    background-color: #eee;
    font-size: 18px;
    padding: 40px;
    text-align: left;
    margin: 0px 200px 0px 200px;
    border-radius: 1em;
  }
  .user-questions{
    color: var(--font-color);
    font-family: var(--font), sans-serif;
    font-weight: 1.2;
    margin-left: 30px;

  }
  .answer-box {
    padding: 30px;
  }

  #date-answer-box {
    text-align: center;
  }
  #survey-container {
    background-color: #eee;
    color: black;
    font-size: 18px;
    padding: 10px;
    text-align: left;
    margin: 20px 300px 10px 300px;
    border-radius: 1em;
  }
  .submit-button-text {
    padding: 10px;
  }




  /** END ETC **/


